.kepek {
    max-width: 800px;
    margin: auto;
    margin-top: 200px;
}

.kepek ul {
    list-style-type: none;
}

.kepek > ul {
    display: grid;
    grid-template-columns: 250px 250px 250px;
}

.kepek {
    position: relative;
}

.kepeklegordulo-elem {
    display: none;
    position: absolute;
    align-items: center;
    /*background-color: aquamarine;*/
    /*top: 100px;*/
    left: 0px;
}

.kepeklegordulo-elem img {
    text-align: center;
    margin-top: 5px;
    width: 750px;
}

.kepeklegordulo:hover .kepeklegordulo-elem {
    display: block;
}
