header {
    position: fixed;
    background-color: aquamarine;
    width: 100%;
}

nav ul {
    list-style-type: none;
}

nav ul a {
    text-decoration: none;
    display: block;
    background-color: rgb(85, 85, 85);
    color: whitesmoke;
    text-align: center;
    width: 100px;
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    padding: 5px;
}

nav > ul {
    display: grid;
    grid-template-columns: 120px 120px 120px;
}

.legordulo {
    position: relative;
}

.legordulo-elem {
    display: none;
    position: absolute;
    z-index: 20;
}

.legordulo-elem a {
    background-color: azure;
    color: black;
    text-align: center;
}

.legordulo:hover .legordulo-elem {
    display: block;
}
#urlap {
    width: 400px;
    z-index: 10;
    position: absolute;
    right: 50%;
    top: 50%;
    background-color: white;
}
#X {
    padding: 5px;
    border-radius: 5px;
    position: relative;
    background-color: rgb(227, 142, 253);
    
}
fieldset{
    margin: 15px;
}