header {
    position: fixed;
    background-color: aquamarine;
}

nav ul {
    list-style-type: none;
}

nav ul a {
    text-decoration: none;
    display: block;
    background-color: rgb(85, 85, 85);
    padding: 25px;
    color: whitesmoke;
}

nav>ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}