header {
    position: fixed;
    background-color: aquamarine;
    width: 100%;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    border: 1px solid black;
    border-radius: 5px;
}

nav ul a {
    text-decoration: none;
    display: block;
    background-color: rgb(85, 85, 85);
    padding: 25px;
    color: whitesmoke;
}

nav>ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.legordulo {
    position: relative;
}

.legordulo-elem {
    display: none;
    position: absolute;
    z-index: 20;
}

.legordulo:hover .legordulo-elem {
    display: block;
}